# ignore lists for git

# that weird crap emacs generates
*~

# TAR files
*.tar.gz

# object files
*.o
*.obj

# ROOT files and dictionary
*.root
src/dict*

# log information
*.err
*.log
*.out
log

# the apple DS_Store stuff
.DS_Store*
._*

# other possible output
*png
*pdf

# the stuff that should be created
# after cloning
out
out/*
test
test/*
tmp
tmp/*
bin
bin/*
src/obj
src/obj/*

# dylibraries
*.so
*.dylib

# static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

production_pAu200_2015
src/argcargv.cxx

submit/csh_example.csh

*.jpg
src/exploreFile.txt
Canvas_1.C
macros/differentialUE_bad.C
macros/style1_ptDifferentialUE_systematics.C
src/EAdeciles.txt
Backup
JEScorrection/c1_n4.C
